<footer class="bg-dark text-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 style="color: #ff9601;">Về chúng tôi</h5>
                <p style="font-size: 10px;">Tận hưởng trải nghiệm xem phim mới nhất miễn phí ngay tại phimmoi và dành thời gian thư giãn chill cùng gia đình và bạn bè. Với một thư viện phim phong phú</p>
            </div>
            <div class="col-md-6">
                <h5 style="color: #ff9601;">Liên hệ</h5>
                <ul class="list-unstyled">
                    <li>Email: hoangminhnhat2k2.com</li>
                    <li>Phone: +84 984660074</li>
                    <li>Address: Số 1 Đại Cồ Việt, Bách Khoa, Hà Nội</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5 style="color: #ff9601;">Theo Dõi</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/hoangminhnhat02" class="text-white">Facebook</a></li>
                    <li><a href="#" class="text-white">Twitter</a></li>
                    <li><a href="#" class="text-white">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>