<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid header">
    <a class="navbar-brand " href="/">
      <img src="https://phimmoichillv.net/dev/images/logo.png" alt="" class="logo-movie">
    </a>
    <a class="navbar-brand nav" href="/">Phim mới</a>
    <a class="navbar-brand nav" href="/">Phim lẻ</a>
    <a class="navbar-brand nav" href="/">Phim bộ</a>
    <a class="navbar-brand nav" href="/">Thể loại</a>
    <a class="navbar-brand nav" href="/">Quốc gia</a>
    <a class="navbar-brand nav" href="/">Phim chiếu rạp</a>
    <a class="navbar-brand nav" href="/">Trailer</a>
    <a class="navbar-brand nav" href="/" style="color: #ff9601;">Top Phim</a>
     


     
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://d1hjkbq40fs2x4.cloudfront.net/2016-01-31/files/1045.jpg" alt="" style="width: 28px; height: 28px; border-radius: 50%; margin-right: 4px">
            Đăng nhập
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/login">Đăng Nhập</a></li>
            <li><a class="dropdown-item" href="/user/create">Đăng Ký</a></li>
            <li><a class="dropdown-item" href="/user/create">{{username}}</a></li>

            {{!-- <li><a class="dropdown-item" href="/movies/create">Đăng phim</a></li>
            <li><a class="dropdown-item" href="me/stored/movies">Kho phim</a></li>
            <li><a class="dropdown-item" href="me/stored/movies">Nạp tiền</a></li>
            <li><a class="dropdown-item" href="user/list">Người dùng</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li> --}}
          </ul>
        </li>
        
      </ul>
    </div> 
    
  </div>
</nav>
 