<div class="mt-4">

    <h3 style="color: aliceblue;">Đăng Nhập</h3>

    <form method="POST" action="/user/login">

        <div class="mb-3">
            <label for="description" style="color: aliceblue;">Tên đăng nhập</label>
            <input type="text" class="form-control" id="username" name="username" >
        </div>

        <div class="mb-3">
            <label for="description" style="color: aliceblue;">Mật Khẩu</label>
            <input type="text" class="form-control" id="password" name="password" >
        </div>
               
        <button type="submit" class="btn btn-primary btn-add-movie">Đăng Nhập</button>

    </form>

</div>